@import url("https://fonts.google.com/specimen/Outfit");

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: #fff;  
  height: 100%;
}

.card {
  position: relative;
  top: 25vh;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  margin-bottom: 30px;
  box-shadow:  0.6rem 0.6rem hsl(217, 55%, 10%)
}

.card__cont__img {
  cursor: pointer;
  display: flex;
  padding: 0;
  max-width: 310px;
  max-height: 310px;
}

.card__img {
  border-radius: 10px;
  max-width: 310px;
  max-height: 310px;
  margin-left: auto;
  margin-right: auto;
}

.card__cont__view {
  background-color: hsla(178, 100%, 50%, 0.5);
  position: fixed;
  width: 310px;
  height: 310px;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.5s;
}

.card__icon__view {
  width: 45px;
  height: 45px;
  position: relative;
  top: 40%;
  left: 43%;
}

.card__cont__view-hover {
  transform: scale(1);
}

.card__title {
  display: block;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}
.card__text {
  font-size: 18px;
  font-weight: 400;
  color: hsl(215, 32%, 27%);
}

.card__title,
.card__text,
.card__cont__link {
  margin-bottom: 20px;
}

.card__cont__link {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.card__link {
  text-align: right;
  width: 110px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

.span,
.card__link {
  color: hsl(215, 32%, 27%);
}

.card__link-aqua {
  color: hsl(178, 100%, 50%);
}

.card__icon__link {
  position: absolute;
  left: 0;
  height: 22px;
}

.card__cont__footer {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  border-top: 1px solid hsl(0, 0%, 100%);
}

.card__profile {
  max-width: 40px;
  max-height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.card__link__foo {
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 16px;
}

.attribution {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  padding: 10px auto;
  font-size: 16px;
  width: 98%;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card__title:hover {
  color: hsl(178, 100%, 50%);
}

.card__link__foo:hover{
  color: hsl(178, 100%, 50%);
}

.card__cont__img:hover > .card__cont__view {
  transform: scale(1);
  cursor: pointer;
}
