@import url("https://fonts.google.com/specimen/Outfit");

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: #fff;
}

.container {
  position: relative;
  top: 5vh;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  margin-bottom: 30px;
  box-shadow:  0.6rem 0.6rem hsl(217, 55%, 10%)
}

.view {
  display: flex;
  padding: 0;
  max-width: 260px;
  max-height: 260px;
}

.container__img {
  border-radius: 10px;
  max-width: 260px;
  max-height: 260px;
  margin-left: auto;
  margin-right: auto;
}

.cont__view {
  background-color: hsla(178, 100%, 50%, 0.5);
  position: fixed;
  width: 260px;
  height: 260px;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.5s;
}

.view__icon {
  width: 45px;
  height: 45px;
  position: relative;
  top: 40%;
  left: 42%;
}

.view:hover > .cont__view {
  transform: scale(1);
  cursor: pointer;
}

.cont__view-hover {
  transform: scale(1);
}

.container__h1 {
  display: block;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.container_p {
  font-size: 16px;
  font-weight: 400;
  color: hsl(215, 32%, 27%);
}

.container__h1,
.container_p,
.container_a {
  margin-bottom: 20px;
}

.container_a {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.link {
  text-align: right;
  width: 85px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}

span,
.link {
  color: hsl(215, 32%, 27%);
}

.link_color {
  color: hsl(178, 100%, 50%);
}

.link > .icons {
  position: absolute;
  left: 0;
}

.footer {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  border-top: 1px solid hsl(0, 0%, 100%);
}

.footer__avatar {
  max-width: 40px;
  max-height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.footer_a {
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 14px;
}

.attribution {
  position: absolute;
  bottom: 0;
  margin-left: 7em;
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container__h1:hover {
  color: hsl(178, 100%, 50%);
}

.footer_a:hover{
  color: hsl(178, 100%, 50%);
}
